*~
\#*
ac-comphist.dat
auto-save-list
backup
backup.*
bookmarks
.cask
doc/*
.DS_Store
*.elc
elpa
emms
eshell
history
ido.last
org-clock-save.el
places
projectile-bookmarks.eld
projectile.cache
recentf
saveplace
smex-items
tramp
url
var
vendor
